*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #393939;
  margin: 0;
}

h1,
h2 {
  font-size: 3.75rem;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 2.0625rem;
  font-weight: 300;
  margin: 0 0 1rem 0;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}

span {
  margin: 0;
  padding: 0;
}

/* Nav bar */
.navigation-main {
  background-color: #fff0ed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
}
.navigation-main__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-main__logo {
  min-width: 3.125rem;
  max-width: 7.5rem;
  margin-left: 1.25rem;
}
.navigation-main__links {
  margin-bottom: 0;
}
.navigation-main__title a {
  text-decoration: none;
  color: #000;
}

.navigation-main__links,
.navigation-main__links a,
.navigation-main__links li {
  font-size: 1.31rem;
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  color: #000;
  margin: 1.25rem 0.75rem;
  padding: 0;
}

a.shop {
  color: #5bacc3;
}

/* Prices */
.price {
  color: #5bacc3;
  font-weight: 400;
  margin: 0.5rem 0;
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes flash {
  0% {
    background: #393939;
  }
  100% {
    background: #5bacc3;
  }
}
@keyframes flash {
  0% {
    background: #393939;
  }
  100% {
    background: #5bacc3;
  }
}
/* Landing Page Hero */
.hero {
  background-color: #fff0ed;
  display: flex;
  padding: 1.25rem 10%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.hero__text {
  width: 35%;
}
.hero__description {
  margin-bottom: 2rem;
}

/* Buttons */
.button, .button--learn, .button--shop {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 2rem 0;
  cursor: pointer;
}
.button--shop {
  justify-content: flex-start;
  margin: 1rem 0;
}
.button--learn {
  justify-content: flex-start;
  margin: 1rem 0;
  width: 20rem;
}
.button__show {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5bacc3;
  height: 3rem;
  width: 9rem;
  position: relative;
}
.button__show__border {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid #000;
  top: -5px;
  left: -5px;
}
.button__show__border:active {
  top: 0;
  left: 0;
  z-index: 0;
}
.button__text {
  text-decoration: none;
  color: #fff;
  font-size: 1.3125rem;
  z-index: 1;
}

/* Product Cards */
.product {
  background-color: #f7f7f7;
  padding: 2rem 0;
}
.product__title {
  text-align: center;
  padding: 2.5rem;
}

.product-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  min-height: 15rem;
  max-height: 34.37rem;
}
.product-cards__item {
  min-width: 20.625rem;
  max-width: 15.625rem;
  min-height: 27.5rem;
  max-height: 28.75rem;
  margin: 1.25rem;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
.product-cards__image {
  min-height: 15rem;
  max-height: 34.37rem;
  margin: 1.5rem;
}
.product-cards__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 9.375rem;
  background-color: #fff0ed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.product-cards__title {
  font-size: 2rem;
}
.product-cards__heading {
  margin: 0;
  padding: 0;
}
.product-cards__amount {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  text-align: left;
  color: gray;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-container .price {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

/* Different Section */
.different {
  display: flex;
  justify-content: space-between;
  margin: 3rem 5rem;
}
.different__title {
  margin-bottom: 2rem;
}
.different__info {
  width: 50%;
}
.different__text {
  width: 80%;
}
.different__logos {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0;
}
.different__logo {
  width: 50px;
  height: 120px;
}
.different__picture {
  width: 23rem;
  max-width: 80%;
  padding: 0;
  height: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/images/coldbrewbackground.png");
  background-position: center;
  background-size: contain;
  position: relative;
}
.different__picture__border {
  position: absolute;
  border: 5px solid #5bacc3;
  width: 100%;
  height: 100%;
  top: -20px;
  left: -20px;
}
.different__picture__image {
  z-index: 2;
}
.different__picture__image:hover {
  z-index: 1;
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite;
}

/* Discount */
.discount {
  display: flex;
  justify-self: center;
  margin: 5rem 0;
}
.discount__text {
  text-align: center;
  font-size: 2.81rem;
  font-weight: 400;
  color: white;
  background-color: #393939;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 2rem;
  margin: 5rem;
}
.discount__text-flash {
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.discount__code {
  font-weight: bold;
}

/* Footer */
.footer {
  background-color: #fff0ed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__section {
  margin: 3rem 5rem;
}
.footer__icon {
  min-width: 3.13rem;
  max-width: 7.5rem;
}

/* Menu Page Hero */
.menu-hero {
  background-image: url("../assets/images/coffee-circle.jpg");
  min-width: 100%;
  max-width: 100%;
  min-height: 35.93rem;
  max-height: 37.5rem;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-hero__title {
  min-width: 17.5rem;
  max-width: 18.75rem;
  min-height: 11.25rem;
  max-height: 12.5rem;
  background-color: #393939;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 0;
  position: relative;
}
.menu-hero__title__border {
  position: absolute;
  border: 5px solid #5bacc3;
  width: 100%;
  height: 100%;
  top: -15px;
  left: -15px;
}

/* Navigation Menu */
.navigation-menu {
  background-color: #393939;
  text-align: center;
  list-style-type: none;
  padding: 1.25rem 0;
}
.navigation-menu__links {
  margin: 0;
}
.navigation-menu__links a {
  color: #fff;
  display: inline-block;
  border-left: 4px solid #5bacc3;
  text-decoration: none;
  padding: 5px 1.25rem;
  font-size: 1.25rem;
}
.navigation-menu__links li {
  display: inline;
}

/* Menu Items */
.menu {
  text-align: center;
}
.menu__section {
  background-color: #fff0ed;
  padding: 1.25rem;
}
.menu__section--white {
  padding: 1.25rem;
  background-color: #fff;
}
.menu__title {
  margin-top: 1rem;
  margin-bottom: 0;
  display: inline-block;
}
.menu__description {
  padding: 0 20rem;
  font-style: italic;
  font-weight: 700;
  margin: 0;
}
.menu__item {
  font-weight: 400;
  margin-top: 2rem;
}/*# sourceMappingURL=main.css.map */