:root {
  --nitro-blue: #5bacc3;
  --nitro-pink: #fff0ed;
  --graphite: #393939;
  --light-gray: #f7f7f7;
  --white: #fff;
  --black: #000;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  color: var(--graphite);
}

h1,
h2 {
  font-size: 60px;
  font-weight: 300;
}

p {
  font-size: 18px;
  font-weight: 400;
}

.main-logo {
  min-width: 50px;
  max-width: 120px;
}

.nav-links {
  font-size: 21px;
  font-weight: 400;
  list-style-type: none;
}

.title a {
  text-decoration: none;
  color: var(--black);
}

.title-box {
  min-width: 280px;
  max-width: 300px;
  min-height: 180px;
  max-height: 200px;
  background-color: var(--graphite);
  text-align: center;
  color: var(--white);
}

.menu {
  background-image: url('/CoffeeShop/Assets/Images/coffee-circle.jpg');
  min-width: 100%;
  max-width: 100%;
  min-height: 575px;
  max-height: 600px;
  background-position: center;
  background-size: cover;
}

.nav-items {
  background-color: var(--graphite);
  text-align: center;
  list-style-type: none;
}

.menu-links,
.menu-links a {
  list-style-type: none;
  color: var(--white);
  text-decoration: none;
}

.menu-items {
  text-align: center;
}

.hot-drinks {
  background-color: var(--nitro-pink);
}

.cold-drinks {
  background-color: var(--light-gray);
}

.pastries {
  background-color: var(--nitro-pink);
}

.menu-items .description {
  width: 40%;
  font-style: italic;
}

.price {
  color: var(--nitro-blue);
}
