:root {
  --nitro-blue: #5bacc3;
  --nitro-pink: #fff0ed;
  --graphite: #393939;
  --light-gray: #f7f7f7;
  --white: #fff;
  --black: #000;
}

nav {
  background-color: var(--nitro-pink);
}

.nav-heading a {
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  color: var(--graphite);
}

.hero {
  background-color: var(--nitro-pink);
}

.product-img {
  min-height: 15rem;
  max-height: 34.37rem;
}

footer {
  background-color: var(--nitro-pink);
}

.icon {
  min-width: 3.13rem;
  max-width: 7.5rem;
}

.discount-text {
  text-align: center;
  font-size: 2.81;
  font-weight: 400;
  color: white;
  background-color: var(--graphite);
  min-width: fit-content;
  max-width: 90%;
  margin: 0;
}

.discount-code {
  font-weight: 700;
}
