@use './colors';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  color: colors.$graphite;
  margin: 0;
}

h1,
h2 {
  font-size: 3.75rem;
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 2.0625rem;
  font-weight: 300;
  margin: 0 0 1rem 0;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}

span {
  margin: 0;
  padding: 0;
}

/* Nav bar */

.navigation-main {
  background-color: colors.$nitro-pink;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    min-width: 3.125rem;
    max-width: 7.5rem;
    margin-left: 1.25rem;
  }

  &__links {
    margin-bottom: 0;
  }

  &__title a {
    text-decoration: none;
    color: colors.$black;
  }
}

.navigation-main__links,
.navigation-main__links a,
.navigation-main__links li {
  font-size: 1.31rem;
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  color: colors.$black;
  margin: 1.25rem 0.75rem;
  padding: 0;
}

a.shop {
  color: colors.$nitro-blue;
}

/* Prices */

.price {
  color: colors.$nitro-blue;
  font-weight: 400;
  margin: 0.5rem 0;
}
