:root {
  --nitro-blue: #5bacc3;
  --nitro-pink: #fff0ed;
  --graphite: #393939;
  --light-gray: #f7f7f7;
  --white: #fff;
  --black: #000;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  color: var(--graphite);
  margin: 0;
}

h1,
h2 {
  font-size: 3.75rem;
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 2.0625rem;
  font-weight: 300;
  margin: 0 0 1rem 0;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}

.button-view {
  text-align: center;
  padding: 0 35%;
}

.button {
  min-width: 25%;
  max-width: 50%;
  padding: 1rem 2.25rem;
  margin: 3rem 0;
  font-size: 1.31rem;
  background-color: var(--nitro-blue);
  font-weight: bold;
  color: white;
  border: none;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.navigation-main__logo {
  min-width: 3.125rem;
  max-width: 7.5rem;
  margin-left: 1.25rem;
}

.navigation-main {
  background-color: var(--nitro-pink);
  display: flex;
  align-items: center;
  height: 7rem;
}

.navigation-main__links,
.navigation-main__links a,
.navigation-main__links li {
  font-size: 1.31rem;
  font-weight: 400;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  color: var(--black);
  margin: 1.25rem 0.75rem;
  padding: 0;
}

.navigation-main__links {
  margin-bottom: 0;
}

li .shop {
  color: var(--nitro-blue);
}

.navigation-main__title a {
  text-decoration: none;
  color: var(--black);
}

.price {
  color: var(--nitro-blue);
  font-weight: 400;
  margin: 0.5rem 0;
}
