@import url(./global.css);

/* Hero */

section.hero {
  background-color: var(--nitro-pink);
  display: flex;
  padding: 1.25rem 10%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.hero__text {
  width: 30%;
}

.btn-shop {
  margin-left: 0;
}

/* Product Cards */

.product {
  background-color: var(--light-gray);
  margin: 0;
}

.product__title {
  text-align: center;
  padding: 2.5rem;
}

.product-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.product-cards__item {
  min-width: 20.625rem;
  max-width: 15.625rem;
  min-height: 27.5rem;
  max-height: 28.75rem;
  padding: 1.25rem;
  margin: 1.25rem;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.product-cards__image {
  min-height: 15rem;
  max-height: 34.37rem;
}

.product-cards__title {
  margin-top: 3rem;
  font-size: 2rem;
}

p.price {
  font-size: 2.25rem;
}

/* Discount */

.discount__text {
  text-align: center;
  font-size: 2.81rem;
  font-weight: 400;
  color: white;
  background-color: var(--graphite);
  min-width: fit-content;
  max-width: 90%;
  margin: 0;
  padding: 2.5rem;
  margin: 10rem;
}

.discount__code {
  font-weight: 700;
}

/* Footer */

footer {
  width: 100%;
  background-color: var(--nitro-pink);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__section {
  padding: 2.5rem;
  margin-left: 4rem;
}

.footer__icon {
  min-width: 3.13rem;
  max-width: 7.5rem;
}
